* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat','Open Sans',sans-serif,sans-serif;
    font-size: 13px;
    color: gray;
    line-height: 24px;
    width: 100%;
    margin: 0 auto;
    display: block;
}


.header, .container, .footer {    
    margin: 0 auto;
}


.info::before {
    background: url("/sana/images/phone.png");    
    content: '';
    display: inline-block;
    margin-right: 9px;
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.customer {    
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: transparent;
    display: inline-block;
    height: 20px;
    position: relative;
    line-height: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    vertical-align: top;
    white-space: normal;
}

.lang {
    width: 63px;
    height: 100%;
    position: relative;
}

.lang img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 17px;
}

.top_hyp {
    display: inline-block;
    height: 20px;
    line-height: 20px;    
    margin-top:  7px;
    margin-bottom: 7px;
    vertical-align: top;
    padding: 0 15px;
    color: #00a8ff;
}


.top_header, .bottom_header {
    display: flex;
    justify-content: space-between;
    margin: 5px auto 10px;
    min-height: 43px;
    max-width: 1000px;
}


.search {
    width: 55%;    
    position: relative;
    margin: 0 10px;
}

.search_wrapper {
    position: relative;
    padding-right: 55px;
}

.main_search {
    background: #fff;    
    border-radius: 3px 0 0 3px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
}

.main_search input {
    font-style: italic;
    letter-spacing: 0.5px;
    color: #e6e6e6;
    border: none;
}

.search_input {    
    width: 495px;
    height: 42px;
    padding: 0 16px;
    box-sizing: border-box;
    overflow: hidden;
}

.search_button {
    padding-right: 14px;    
    height: 44px;
    min-width: 55px;
    background-color: #00a8ff;
    background-image: url("/sana/images/search.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #00a8ff;
    border-radius: 0 3px 3px 0;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.search_button:hover {
    background-color: #2289e3;
    border-color: #1b6eb6;
}
.my_basket {
    background-color: #f78400;
    display: inline-block;
    position: relative;
    height: 50px;
    width: 140px;
    vertical-align: top;
    white-space: normal;
}

.my_basket a {
    text-decoration: none;    
}

.products {
    color: white;
    letter-spacing: 1px;    
    line-height: 3rem;
    padding: 10px 0 10px 10px;
}

.products::before {
    background: url("/sana/images/basket-white.png") no-repeat;
    content: '';
    display: inline-block;    
    height: 18px;
    width: 20px;
    vertical-align: middle;
    padding-right: 10px; 
}

/* NAV */


.nav_top ul {
    list-style-type: none;
    margin: 0;
    padding: 0 20%;
    text-align: center;
    overflow: hidden;
    background-color: #00a8ff;

}

.nav_top li {
    display: inline;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    text-shadow: 0 1px 1px #000;
}

.nav_top li a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 20px 15px;
    text-decoration: none;    
}

.nav_top li a:hover {
    background-color: #fff;
    color: #000;
    border: 0.2px solid rgba(212, 212, 212, 0.966);
    text-shadow: 0 0 0;
    
}

.nav_top .active {
    display: inline-block;
    border-bottom: 3px solid white;
    color: #fff;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none; 
}

.nav_top .active:hover {
    padding: 20px 15px;
}

.nav_top div {
    background-image: url("/sana/images/djgear-bg3.jpg");
    background-repeat: no-repeat;
    margin: 0;
    font-size: 3.5rem;
    letter-spacing: 2px;
    line-height: 6rem;
    font-weight: 700;
    color: #000;   
    padding: 100px 20% 0;
}


/* CONTAINER */

.container {
    max-width: 1000px; 
    margin: 10px auto;
    
}

.aside {
    max-width: 300px;
    float: left;
    border-right: 1px solid rgb(230, 230, 230);
    padding-right: 140px;
    margin-right: 35px;
    height: 1600px; /* ---------------------------------------------------------------------- */
}

.aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aside a {
    text-decoration: none;
    color: #4c4c4c;
}

.aside a:nth-child(6) {
    color: #00a8ff;
    font-weight: bold;
}

.section {
    max-width: 700px;
    float: right;    
}

.products_found {
    float: left;
    width: 275px;
}

.view {
    float: left;
    width: 200px;
}

.sort_by {
    float: left;
    width: 225px;
}

.btn_view_list {
    content: "";
    background: url("/sana/images/view-list.png") no-repeat 0 0;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 10px;
}

.btn_view_list:hover {
    content: "";
    background: url("/sana/images/view-list.png") no-repeat 0 -25px;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 10px;
}

.btn_view_grid {
    content: "";
    background: url("/sana/images/view-grid.png") no-repeat 0 -50px;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 50px;
}

.btn_view_grid:hover {
    content: "";
    background: url("/sana/images/view-grid.png") no-repeat 0 -25px;
    width: 25px;
    height: 25px;
    position: absolute;
    margin-left: 50px;
}

.section_main {
    display: block;
    border-top: 1px solid rgb(230, 230, 230);
    margin-top: 40px;
    margin-left: -15px;
    width: 715px;
}

.product {
    margin-top: 15px; 
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(230, 230, 230);    
}

.p_photo {
    float: left;
    width: 75px;    
    margin-right: 25px;
}
.p_photo img {
    width: 64px;
    height: 64px;
}

.p_description {
    float: left;
    width: 485px;
}

.p_name a {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #333;
    text-decoration: none;
}

.p_action {
    float: right;
    width: 130px;
}

.p_price {
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    color: #cb2245;
    text-align: right;    
}

.p_add button {
    background-color: #f78400;
    border: none;
    border-bottom: 1px solid rgb(172, 92, 0);
    border-radius: 2px;
    width: 120px;
    height: 35px;
    font-family: 'Montserrat','Open Sans',sans-serif,sans-serif;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin-left: 10px;
    padding-left: 15px;
    text-align: left;
}

.p_add button:hover {
    background-color: #f09630;
    border-color: #a86922;
}

.p_add button::after {
    content: "";    
    background: url("/sana/images/arrow-bg.png") no-repeat;
    position: absolute;
    width: 35px;
    height: 35px; 
    margin-left: 4px; 
    margin-top: -10px;
}

.show_next {
    float: right;
}

.show_next button {
    width: 220px;
    height: 45px;
    border: none;
    background-color: #00a8ff;
    border-color: #00a8ff;
    border-radius: 2px;
    color: #fff;
    font-family: 'Montserrat','Open Sans',sans-serif,sans-serif;    
    font-size: 14px;
    padding-right: 30px;
    cursor: pointer;
    line-height: 44px;
}

.show_next button:hover {
    height: 45px;
    background-color: #2289e3;
    border-bottom: 2px solid #1b6eb6;
}

.show_next button::after {
    content: "";
    background: url("/sana/images/arrow-down-bg.png") no-repeat;
    position: absolute;
    width: 38px;
    height: 45px;
    margin: 0 5px;
}

.section .section_footer {    
    width: 715px;    
    margin: 140px 0 70px -15px;   
} 

.last_viewed {
    border-bottom: 1px solid #e6e6e6;
    padding: 30px 0;
}

.last_viewed a {
    color: #00a8ff;
    font-weight: bold;
}

.l-v-p {
    float: left;
    width: 260px;
    font-family: 'Pathway Gothic One',sans-serif;
    font-size: 2.3em;
    color: #000;
    text-transform: uppercase;
    
}
.section_footer a {    
    text-decoration: none;
}

.view_all {
    float: left;
    width: 90px;
}

.clear {
    float: left;
    width: 320px;
}

.last_prod {
   padding-top: 30px;
}

.last_pr_item {
    float: left;
    
}

.last_p_description {
    float: left;
    padding-right: 35px;
}

.last_p_price {
    font-size: 16px;
    font-weight: bold;
    line-height: 38px;
    color: #cb2245;
    text-align: left;    
}

.last_p_add button {   
    border: none;
    background-color: #00a8ff;
    border-color: #00a8ff;
    border-radius: 2px;
    width: 110px;
    height: 35px;
    font-family: 'Montserrat','Open Sans',sans-serif,sans-serif;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    margin-left: 100px;
    padding-left: 15px;
    text-align: left;
}

.last_p_add button:hover {
    background-color: #2289e3;
    border-bottom: 1px solid #1b6eb6;
}

.last_p_add button::after {
    content: "";    
    background: url("/sana/images/arrow-bg.png") no-repeat;
    position: absolute;
    width: 35px;
    height: 35px; 
    margin-left: -6px; 
    margin-top: -10px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.general_footer {
    background-color: #00a8ff;   
    padding: 0 20%;
}

.footer {    
    color: #fff;
    display: inline-block;    
    width: 100%;    
    padding-top: 40px;
    padding-bottom: 25px;
}

.sitemap_top_left { 
    float: left;
    width: 60%;
    padding-left: 50px;
}

.sitemap_top_right {
    float: right;
    width: 37%;
  
}

.sitemap_top .sitemap_header, .sitemap_top .newsletter_header {
    text-transform: uppercase;
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 800;
    padding-bottom: 12px;    
}

.sitemap_list ul {
    list-style: none;    
    margin: 0;
    padding: 0; 
}

.sitemap_list li {
    display: inline;
    width: 130px;
    float: left;
    padding-right: 13px;
}

.sitemap_list a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    line-height: 24px;
}

.sitemap_list a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.newsletter div:nth-child(2) {
    padding-bottom: 10px;
}

.newsletter input {
    width: 245px;
    height: 34px;
    border: none;
    border-radius: 3px;
    background: #f2f2f2;
    border-bottom: 1px solid #c2c2c2;
    padding: 0 14px;
    font-style: italic;    
    float: left;
    margin-right: 5px;
}

.newsletter button {
    width: 110px;
    height: 33px;
    float: left;
    border: none;
    border-radius: 2px;
    background-color: #00a8ff;
    border-color: #00a8ff;
    color: #ffffff;
    text-align: left;
    padding-left: 15px;
}

.newsletter button::after {
    content: "";
    background: url("/sana/images/arrow-bg.png") no-repeat;
    position: absolute;
    width: 35px;
    height: 35px; 
    margin-left: -6px; 
    margin-top: -10px;
}

.newsletter button:hover {
    background-color: #2289e3;
    border-bottom: 1px solid #1b6eb6;
}